/* general */

body {
  background-image: url("./components/assets/images/mainBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: white;
  font-size: 44px;
}

h2 {
  
}

/* end of general */

/* header */
.header {
  height: 100px;
  background-color: black;
  width: 90%;
  display:inline-block;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.vinesL {
  background-image: url("./components/assets/images/vinesL.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + 10px) calc(30%);
  
}

.vinesR{
  background-image: url("./components/assets/images/vinesR.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + -10px) calc(30%);
  
}
/* .headerBg {
  background-image: url("./components/assets/images/dark.jpg");
  background-size: 240px;
  width: 100%;
} */

/* end of header */

/* pages */
.pagesSection {
  width: 90%;
  display:inline-block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 20px;
}

/* end of pages */

/* deal page */
.dealBox {
  padding: 10px;
  padding-left: 20px;
}

.dealLine {
  border-bottom: 1px solid #575757;
}

/* end of deal page */

/* login */
.loginMarg {
  padding: 10px;
}

.loginStyle {
  margin: 10px;
}
.loginStyle input {
  margin-left: 30px;
  margin-top: 40px;
}

.textError {
  color: white;
  z-index: 5;
}
/* end of login */

/* footer */
.footer {
  margin-top: 130px;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100px;
}

.footer a {
  color: white;
}

#phone {
  float: left;
}

#address {
  float: right;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 150px;
  }
  #address {
    float: left;
  }
  body {
    background-size: 1400px;
    background-repeat: no-repeat;
  }
  .headerBg {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center calc(100%);
    max-width: 100%;
  }
  .loginStyle input{
    margin-top: 19px;
  }
}