.popArea {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: 50px;
    background-color: rgb(9, 93, 0);
    padding: 1px;
    margin-top: 10px;
    padding: 10px;
}

.popBox {
    background-color: rgb(255, 255, 255);
    padding: 4px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 40px;
}

.popArea p {
    color: black;
}

@media screen and (max-width: 600px) {
    .popArea {
        background-color: rgb(9, 93, 0);
    }
  }